.ipynb_checkpoints/
.pytest_cache/
pytest-cache-files-*/
__pycache__/
*.py[cod]
test.py
*.egg-info/
build/
dist/

.venv/
.env

output/
outputs/
out_scans/
Отчетность/

document_*.pdf
document_*_gt.json
*_scan_*.jpg
